<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fastkart">
    <meta name="keywords" content="Fastkart">
    <meta name="author" content="Fastkart">
    <link rel="icon" href="assets/images/favicon/1.png" type="image/x-icon">
    <title>On-demand last-mile delivery</title>
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">

    <!-- Template css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->
    <section class="log-in-section section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'assets/images/inner-page/sign-up.png' %}" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Welcome To Fastkart</h3>
                            <h4>Create New Account</h4>


                        </div>

                        <div class="input-box">
                            <form class="row g-4" method="POST" action="{% url 'user_signup' %}">
                                {% csrf_token %}

                                {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="email"
                                            class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                                            name="email" id="email" placeholder="Email Address"
                                            value="{{ form.email.value|default:'' }}">
                                        <label for="email">Email Address</label>
                                    </div>
                                    {% for error in form.email.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="password"
                                            class="form-control {% if form.password1.errors %}is-invalid{% endif %}"
                                            name="password1" id="password1" placeholder="Password">
                                        <label for="password1">Password</label>
                                    </div>
                                    {% for error in form.password1.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="password"
                                            class="form-control {% if form.password2.errors %}is-invalid{% endif %}"
                                            name="password2" id="password2" placeholder="Confirm Password">
                                        <label for="password2">Confirm Password</label>
                                    </div>
                                    {% for error in form.password2.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-animation w-100" type="submit">Sign Up</button>
                                </div>
                            </form>

                        </div>



                        <!-- <div class="log-in-button">
                            <ul>
                                <li>
                                    <a href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                                        class="btn google-button w-100">
                                        <img src="{% static 'assets/images/inner-page/google.png' %}" class="blur-up lazyload"
                                            alt="">
                                        Sign up with Google
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/" class="btn google-button w-100">
                                        <img src="{% static 'assets/images/inner-page/facebook.png' %}" class="blur-up lazyload"
                                            alt=""> Sign up with Facebook
                                    </a>
                                </li>
                            </ul>
                        </div> -->



                        <div class="sign-up-box">
                            <h4>Already have an account?</h4>
                            <a href="login.html">Log In</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
            </div>
        </div>
    </section>

    <!-- Bg overlay Start -->
    <div class="bg-overlay"></div>
    <!-- Bg overlay End -->

    <!-- latest jquery-->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/popper.min.js' %}"></script>

    <!-- feather icon js-->
    <script src="{% static 'assets/js/feather/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/feather/feather-icon.js' %}"></script>

    <!-- Slick js-->
    <script src="{% static 'assets/js/slick/slick.js' %}"></script>
    <script src="{% static 'assets/js/slick/slick-animation.min.js' %}"></script>
    <script src="{% static 'assets/js/slick/custom_slick.js' %}"></script>

    <!-- Lazyload Js -->
    <script src="{% static 'assets/js/lazysizes.min.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>