<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Fastkart</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
</head>

<body>

    <!-- Sign Up Section -->
    <section class="log-in-section section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'assets/images/inner-page/sign-up.png' %}" class="img-fluid" alt="Sign Up">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Welcome To Fastkart</h3>
                            <h4>Create New Account</h4>
                        </div>

                        <!-- Display Form Errors -->
                        <!-- {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %} -->

                        <div class="input-box">
                            <form class="row g-4" method="POST" action="{% url 'user_signup' %}">
                                {% csrf_token %}

                                <!-- Email Field -->
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" 
                                               name="email" id="email" placeholder="Email Address" value="{{ form.email.value|default:'' }}">
                                        <label for="email">Email Address</label>
                                    </div>
                                    {% for error in form.email.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <!-- Password Field -->
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" 
                                               name="password1" id="password1" placeholder="Password">
                                        <label for="password1">Password</label>
                                    </div>
                                    {% for error in form.password1.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <!-- Confirm Password Field -->
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating">
                                        <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" 
                                               name="password2" id="password2" placeholder="Confirm Password">
                                        <label for="password2">Confirm Password</label>
                                    </div>
                                    {% for error in form.password2.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-animation w-100" type="submit">Sign Up</button>
                                </div>
                            </form>
                        </div>

                        <div class="sign-up-box">
                            <h4>Already have an account?</h4>
                            <a href="#">Log In</a>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-7 col-xl-6 col-lg-6"></div>
            </div>
        </div>
    </section>

    <!-- JavaScript -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
